<!DOCTYPE html>

<html lang="en" >
    <head>
        <meta charset="UTF-8">
        <title>Ticket thingy</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css'>
        <link rel="stylesheet" href="/styles/styles.css">
    </head>

    <body>
        <header>
            <h1>Tickets:</h1>
        </header>

        <div class="container-fluid row">
            <div class="col-4 tickets">
                <% for (var i=0; i< tickets.length; i++ ) { %>
                <div class="card ticketButton">
                    <a href="/<%= tickets[i]._id%>" class="ticketLink"><%= tickets[i].subject %></a>
                </div>
                <% } %>
            </div>
            <div class="col card textCard">
                <% if(selectedTicket != ""){ %>
                    <div class="row">
                        <div class="col">
                            <h3><%= selectedTicket.subject %></h3><hr>
                            <%= selectedTicket.description %> <br>
                        </div>
                        <div class="col-sm-auto">
                            <%= selectedTicket.requesterEmail %> <br>
                            <%= selectedTicket.createdAt %> <br>
                            Category: <%= selectedTicket.category %> <br>
                            Priority: <%= selectedTicket.priority %> <br>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>



        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js'></script>
        <script src="/scripts/script.js"></script>
    </body>

</html>