<!DOCTYPE html>

<html lang="en" >
    <head>
        <meta charset="UTF-8">
        <title>Ticket thingy</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css'>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="/styles/styles.css">
    </head>

    <body>
        <header>
            <h1>Tickets:</h1>
        </header>

        <div class="container-fluid row">
            <div class="col-4 tickets">
                <% for (var i=0; i< tickets.length; i++ ) { %>
                <div class="card ticketButton overflow-hidden <% if(selectedTicketID == tickets[i]._id){%> selectedTicket <%} %>">
                    <a href="/<%= tickets[i]._id %>" class="ticketLink"><%= tickets[i].subject %></a>
                </div>
                <% } %>
            </div>
            <div class="col card textCard">
                <% if(selectedTicket != ""){ %>
                    <div class="row">
                        <div class="col">
                            <h3><%= selectedTicket.subject %></h3><hr>
                            <%= selectedTicket.description %> <br>
                        </div>
                        <div class="col-sm-auto">
                            <%= selectedTicket.requesterEmail %> <br>
                            <%= selectedTicket.createdAt %> <br>
                            <form id="ticketForm" method="POST" action="/updateTicket/">
                                Category:
                                <select name="category" id="category" form="ticketForm">\
                                    <% for(var i = 0; i < categories.length; i++){ 
                                        if(selectedTicket.category == categories[i]){%>
                                            <option value="<%= categories[i] %>" selected><%= categories[i] %></option>
                                        <% }else{ %>
                                            <option value="<%= categories[i] %>"><%= categories[i] %></option>
                                        <% } %>
                                    <% } %>
                                </select><br>
                                Priority:
                                <select name="priority" id="priority" form="ticketForm">
                                    <% for(var i = 0; i < priorities.length; i++){ 
                                        if(selectedTicket.priority == priorities[i]){%>
                                            <option value="<%= priorities[i] %>" selected><%= priorities[i] %></option>
                                        <% }else{ %>
                                            <option value="<%= priorities[i] %>"><%= priorities[i] %></option>
                                        <% } %>
                                    <% } %>
                                </select><br>
                                <input type="hidden" name="ticketID" id="ticketID" value="<%= selectedTicket._id %>">
                                <input type="submit" id="submit" value="Change">
                            </form>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>



        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js'></script>
        <script src="/scripts/script.js"></script>
    </body>

</html>